<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Vue.JS</title>
</head>

<body>

    <div id="app">
            <ul>
                <li v-for="dados, key in local">
                    {{key}}: {{ dados }}
                </li>
            </ul>
            <button @click="requesicaoCep">Consultar CEP</button>
            <input type="text" v-model="cep">
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
           data: {
            local: {},
            cep: ""
           },
           methods: {
            requesicaoCep() {
                fetch("https://viacep.com.br/ws/" + this.cep + "/json/").then(resp => resp.json())
                .then(resp => {
                    this.local = resp
                })
            }
           },     
        });
    </script>

</body>

</html>