<script src="./vue.js"></script>
<title>Vue.js</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="CEP" maxlength="8" v-model="cep">
        <h1>{{ cep }}</h1>
        <ul>
            <li v-for="(valor, chave) in endereco">{{ chave }} : {{ valor }}</li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
               cep: "",
               endereco: {},
            },
            watch: {
                cep(valorCep) {
                    if( valorCep.length === 8) {
                        console.log("Entrou no IF")
                        fetch(`https://viacep.com.br/ws/${valorCep}/json/`).then(r => r.json()).then(r => {
                        this.endereco = r;
                        console.log(this.endereco);
                    });
                    }                    
                }
            }           
        });        
    </script>
</body>
</html>