<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Vue.JS</title>
</head>

<body>

    <div id="app">
       <form>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" v-model="nome">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" v-model="email">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" v-model="telefone">
            <label for="mensagem">Mensagem</label>
            <textarea name="mensagem" id="mensagem" v-model="mensagem" cols="30" rows="10"></textarea>
            <br>
            <input @click.prevent="enviarFormulario" type="submit">
       </form>
       <div>
        <ul>
            <li v-for="(valor, chave) in resultado">
                {{chave}} : {{valor}}
            </li>
        </ul>
       {{resultado}}
       </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                nome: "",
                email: "",
                telefone: "",
                mensagem: "",
                resultado: {}
            },
            methods: {
                enviarFormulario() {
                    this.resultado = {
                        nome: this.nome,
                        email: this.email,
                        telefone: this.telefone,
                        mensagem: this.mensagem
                    }
                }
            },           
        });
    </script>

    <style>
        label {
            display: block;
        }
    </style>

</body>

</html>