<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Vue.JS</title>
</head>
<body>

    <div id="app">
        <!-- 
       <p v-if="logado === 1">Usuário Logado</p>
       <p v-else-if="logado === 2">Usuário Logado 2</p>
       <p v-else="false">Usuário Deslogado</p>
       -->

       <!--
       <template v-if="logado">
            <p>Usuário está logado</p>
            <button @click="logado = false">Deslogar</button>
       </template>
       <template v-else="logado">
            <p>Usuário está deslogado</p>
            <button @click="logado = true">Logar</button>
        </template>
        -->
        <p v-if="logado">Usuário está logado.</p>
        <p v-show="logado"> Usuário está logado</p>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                logado: 2,
            }
        });
    </script>

</body>
</html>